{% extends 'base.html' %} {% block title %}Revenue Tracking{% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/revenue_tracking.css') }}"
/>
{% endblock %} {% block content %}
<div class="text-left">
  <h1 class="page-title">Revenue Tracking</h1>
</div>

<div class="chart-container card">
  <h2>Passenger Seat's Revenue</h2>
  <canvas id="revenueChart"></canvas>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='scripts/revenue_tracking.js') }}"></script>
{% endblock %}
